body, #command {
    font-family: Calibri;
    font-size: 20px;
}

#main {
    border: 1px solid black;
    border-collapse: collapse;
    height: 760px;
    width: 680px;
}

td {
    border: 1px solid black;
    height: 1px;
    padding: 0;
    vertical-align: top;
}

#viewContainer {
    height: 100%;
}

#view {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#commandContainer {
    padding-top: 5px;
    padding-right: 6px;
}

#command {
    width: 100%;
    margin: 0;
}
